@media (max-width: 480px) {
    #header-v1.sticky .navigation-row {
        min-height:80px;
    }

    .nav-right>ul>li {
        font-size: 16px;
        margin-left: 15px;
    }

    #header-v1.sticky .nav-right,.header-inner .nav-right {
        right: 10px;
        bottom: 30px;
    }

    #header-v1.sticky .nav-right,.header-inner .nav-right {
        right: 10px;
    }

    #header-v1.sticky .sidemenu-btn {
        left: 10px;
    }

    .sidemenu-btn .fa {
        font-size: 26px;
    }

    body #home-slider1 .slider-content {
        bottom: 50px
    }

    .banner .arrow-btn {
        display: none;
    }

    #header-v4 .navigation-row {
        padding: 20px 0;
    }

    .navigation-row .logo img {
        width: 100%;
    }

    #header-v4 .nav-right>ul>li {
        margin-left: 15px;
    }

    .wrapper #home-slider1 .slider-content,.wrapper .video-banner .slider-content {
        bottom: 50px;
    }

    #home-slider1 .owl-controls {
        bottom: 0;
    }

    #home-slider3 .slider-content {
        padding: 20px 20px 0;
    }

    #home-slider3 .item {
        padding-bottom: 0;
    }

    .wrapper #home-slider3 .slider-content .title {
        font-size: 26px;
        margin: 0 0 7px;
    }

    .wrapper #home-slider3 .slider-content p {
        font-size: 14px;
        margin: 0;
    }

    #home-slider3 .slider-content .readmore-btn {
        display: none;
    }

    #home-slider3 .owl-controls {
        bottom: 20px;
    }

    .wrapper .heading-style1_v1 h2,.wrapper .heading-style1_v2 h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .events-inner .left,.events-inner .text {
        width: 100%;
        float: left;
    }

    .events-outer h2,.reviewer-holder h2 {
        font-size: 24px;
    }

    .heading-style3_v1 h2,.heading-style3_v2 h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .navigation-row .logo img {
        width: auto;
    }

    #home-slider2 .slider-content {
        bottom: 50px;
    }

    .wrapper .featured-silder {
        margin-bottom: 80px;
    }

    .wrapper .featured-silder #bx-pager2>a {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    #header-v2 .sidemenu-btn {
        left: 15px;
    }

    .wrapper #header-v2 .navigation-row .nav-right {
        right: 10px;
    }

    .clients-listed li {
        width: 100%;
        text-align: center;
        margin: 0 0 30px;
    }

    .testimonial-inner p {
        font-size: 14px;
    }

    .signature {
        font-size: 45px;
    }

    .show-result-outer {
        padding: 10px;
    }

    .show-result-outer .showing {
        width: 100%;
        margin: 0 0 10px;
    }

    .show-result-outer .right-outer {
        width: 100%;
    }

    .show-result-outer select {
        margin: 0 0 10px;
        width: 180px;
    }

    .pagination-row .pagination>li>a,.pagination-row .pagination>li>span {
        padding: 4px;
    }

    .wrapper .product-slider2 #bx-pager {
        width: 60px;
    }

    .wrapper .product-slider2 #bx-pager>a,.wrapper .featured-silder #bx-pager2>a {
        width: 55px;
        height: 55px;
        margin: 0 0 10px;
    }

    .tab-box .nav-tabs>li {
        width: 100%;
        margin: 0 0 3px;
    }

    .tab-info-box {
        padding: 30px 15px;
    }

    .cart-section .cart-inner {
        padding: 0;
    }

    .shop_table .product-quantity {
        display: none;
    }

    .shop_table .product-thumbnail span {
        display: none;
    }

    .cart-bottom .icon-cart {
        font-size: 200px;
    }

    .cart-bottom h3 {
        font-size: 18px;
    }

    .footer .widget-search form .btn-submit {
        padding: 13px 20px;
    }

    .cart-table-row .woocommerce .shop_table thead th {
        font-size: 16px;
    }

    .cart-icon-img {
        width: 200px;
    }

    .shop_table .product-color {
        display: none;
    }

    .btn-style1,.btn-style2 {
        padding: 14px 20px;
        font-size: 14px;
        line-height: 14px;
    }

    .team-section_v3 .team-item:hover .caption {
        padding-top: 50px;
    }

    .team-section_v3 .team-item .caption {
        -webkit-transform: translateY(280px);
        -moz-transform: translateY(280px);
        -ms-transform: translateY(280px);
        -o-transform: translateY(280px);
        transform: translateY(280px);
    }

    .career-listed .date-box {
        width: 100%;
        margin: 0 0 20px;
    }

    .career-listed .text {
        float: left;
        width: 100%;
        padding: 20px 0 0;
        border: none;
        border-top: 1px solid #ccc;
    }

    #stats .row .col-xs-6 {
        width: 100%;
    }

    .countdown-holder .countdown-section {
        width: 60px;
        height: 70px;
    }

    .events-list-outer .event-list-item .text {
        padding: 20px 10px;
    }

    .blog-masonary .masonary-item {
        width: 100%;
    }

    .blog-inner .thumb {
        width: 100%;
    }

    .blog-inner .text {
        width: 100%;
    }

    .gallery-item .caption .inner {
        top: 20px;
    }

    .gallery-item strong {
        font-size: 22px;
    }

    .gallery-item .caption .link {
        font-size: 24px;
        margin: 0 0 20px;
    }

    .error-section .circle-img::before {
        width: 140px;
        height: 150px;
        background-size: 100%;
        top: 30px;
    }

    .wrapper .popup-holder .heading-style1_v1 h2 {
        font-size: 36px;
        line-height: 36px;
    }
}

@media (max-width: 767px) {
    #header-v1 {
        position:relative;
    }

    #header-v1 .navigation-row {
        padding: 30px 0;
        background-color: #000;
    }

    #header-v1.sticky .navigation-row {
        min-height: 100px;
    }

    .navigation-row .navbar {
        display: none;
    }

    .sticky .sm-logo,.header-inner .sm-logo,#header-v1 .sm-logo {
        display: inline-block;
    }

    #header-v1 .sm-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .navigation-row .sidemenu-btn {
        position: relative;
        z-index: 999;
    }

    .header-inner .sidemenu-btn {
        top: 0;
        left: 0;
    }

    #slide-menu .navbar-nav {
        margin: 0;
    }

    .banner .banner-bottom {
        display: none;
    }

    #home-slider1 .slider-content,.video-banner .slider-content {
        bottom: 150px;
    }

    .slider-content .title {
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .slider-content p,#home-slider2 .slider-content p {
        font-size: 18px;
    }

    .banner .arrow-btn {
        bottom: 30px;
    }

    .overlay .overlay-close {
        width: 40px;
    }

    .search-inner {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    footer.footer {
        margin: 0;
    }

    .footer .instagram-text {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .instagram-text .fa {
        display: inline-block;
        width: auto;
    }

    .widget-about,.footer .widget-search {
        padding: 30px 15px;
    }

    footer .ft-bottom-section .container-fluid .row .col-sm-10 {
        padding: 0;
    }

    .widget-search form input[type="text"] {
        width: 55%;
    }

    #rider-boxed {
        padding: 0;
    }

    #header-v2,#header-v3 {
        position: relative;
    }

    #header-v2 .navigation-row {
        padding: 40px 0;
    }

    #header-v2 .navigation-row .logo {
        left: 20px;
    }

    #header-v2 .navigation-row .nav-right {
        right: 20px;
    }

    #header-v3 .nav-holder {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

    #header-v3 .navigation-row .sidemenu-btn {
        margin: 0;
        top: 15px;
        left: 40px;
        position: absolute;
    }

    #home-slider3 .slider-content .title {
        font-size: 36px;
        margin: 0 0 14px;
    }

    #home-slider3 .slider-content p {
        margin-bottom: 20px;
    }

    #header-v2 .sidemenu-btn {
        display: inline-block;
    }

    #header-v2 .navigation-row .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    #map_v1 {
        min-height: 300px;
    }

    .inner-banner {
        padding: 100px 0;
    }

    .inner-banner-outer h2 {
        font-size: 40px;
    }

    .heading-style1_v1 h2,.heading-style1_v2 h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .services-listed>li {
        float: left;
        width: 100%;
    }

    .tabs-holder .nav-tabs>li a {
        font-size: 14px;
        padding: 0 10px;
    }

    .product-section .heading-style1_v1,.product-section .heading-style1_v2 {
        margin: 0 0 30px;
    }

    .testimonial-inner {
        width: 100%;
    }

    .about-text {
        margin-top: 15px;
    }

    .testimonial-section_v2 .testimonial-inner {
        padding: 0 20px;
    }

    #footer_v2 .widget-about,#footer_v2 .widget-search {
        padding-top: 30px;
    }

    .pd-tb100 {
        padding: 48px 0;
    }

    .pd-t100 {
        padding-top: 48px;
    }

    .pd-b100 {
        padding-bottom: 48px;
    }

    .abuout-thumb {
        float: left;
        width: 100%;
    }

    .abuout-thumb img {
        width: 100%;
    }

    .facts-section {
        padding: 70px 0 40px;
    }

    .facts-listd li {
        width: 50%;
        margin: 0 0 30px;
    }

    .discount-item h3 {
        font-size: 30px;
    }

    .discount-item h2 {
        font-size: 40px;
    }

    .testimonail-holder2 {
        padding: 40px 20px;
    }

    .instagram-section .instagram-text .fa {
        margin-bottom: 0;
    }

    #blog-slider .owl-controls {
        top: -50px;
    }

    .featured-silder #bx-pager2 {
        left: 0;
    }

    .featured-silder #bx-pager2>a {
        width: 80px;
        height: 80px;
    }

    .heading-style2_v1 h2,.heading-style2_v2 h2 {
        font-size: 40px;
        line-height: 30px;
    }

    .services-section_v2 .services-item {
        margin: 0 0 30px;
    }

    .featured-silder {
        padding: 0;
        margin: 0 0 50px;
    }

    .tabs-holder .nav-tabs {
        margin: 0 0 30px;
    }

    .tabs-holder .nav-tabs>li {
        margin: 0 0 10px;
    }

    .about-text {
        margin: 0 0 30px;
    }

    .abuout-thumb {
        float: left;
        width: 100%;
    }

    .services-inner {
        padding: 50px 20px;
    }

    .pro-list-item .pro-img {
        margin: 0 0 20px;
        float: left;
        width: 100%;
    }

    .pro-list-item .text {
        float: left;
        width: 100%;
    }

    .product-slider2 {
        float: left;
        width: 100%;
        margin: 0 0 30px;
    }

    .product-slider2 #bx-pager,.featured-silder #bx-pager2 {
        width: 90px;
    }

    .product-slider2 #bx-pager>a,.featured-silder #bx-pager2>a {
        width: 80px;
        height: 80px;
    }

    .pro-item .text h3 {
        font-size: 20px;
    }

    .pagination-row {
        margin: 0 0 20px;
    }

    .cart-inner {
        padding: 0 30px;
    }

    .cart-table-row table tr th,.cart-table-row table tr td {
        padding: 15px 5px;
    }

    .shop_table .product-des {
        display: none;
    }

    .team-section .pagination-row {
        margin-bottom: 30px;
    }

    .team-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .circle-container {
        float: left;
        width: 100%;
        margin: 0 0 30px;
    }

    .team-detail .about-text {
        padding-top: 30px;
    }

    .portfolio-listed>li {
        width: 50%;
    }

    .event-list-item .event-map,.event-detail-section .event-list-item .event-map {
        width: 100%;
        height: 200px;
    }

    .event-list-item .thumb,.event-detail-section .event-list-item .thumb {
        width: 100%;
    }

    .event-list-item .text {
        padding: 30px 20px;
    }

    .event-item .caption .bottom,.event-item2 .bottom {
        padding-left: 20px;
        padding-right: 20px;
    }

    body h3 {
        font-size: 20px;
    }

    .form-box {
        margin: 0 0 30px;
    }

    .blog-inner-outer {
        padding: 30px 20px;
    }

    .video-outer iframe {
        height: 250px;
    }

    .blog-masonary .masonary-item.height2,.blog-masonary .masonary-item {
        height: auto;
    }

    .blog-md .thumb {
        width: 100%;
        margin: 0 0 20px;
    }

    .blog-md .text {
        float: left;
        width: 100%;
        overflow: visible;
    }

    .blog-grid-outer {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        -ms-column-count: 1;
        -o-column-count: 1;
    }

    .error-inner .title {
        font-size: 40px;
    }

    .error-section {
        padding: 100px 0;
    }

    .error-inner h3 {
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 40px;
    }

    .error-inner img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .gallery-masonary .masonary-item,.gallery-masonary .masonary-item.width2 {
        width: 100%;
    }

    .contact-inner {
        width: 100%;
    }

    .get-box {
        margin: 0 0 30px;
    }

    .contact-inner h2 {
        font-size: 40px;
        margin: 0 0 30px;
    }

    .get-touch-outer {
        padding: 30px;
    }

    .contact-inner2 .contact-text {
        width: 100%;
    }

    .contact-map {
        float: left;
        width: 100%;
        visibility: visible;
    }

    #contact-map {
        height: 250px;
    }

    #calendar table .fc-day-header {
        font-size: 16px;
        padding: 10px;
    }

    .galleryFilter a {
        font-size: 14px;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    .circle-img::before {
        background-size: 100%;
        width: 240px;
        height: 250px;
        top: 30px;
    }

    .popup-holder {
        width: 90%;
    }

    .popup-holder .heading-style1_v1 h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .popup-holder .inner {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    header#header-v1 {
        position:relative;
    }

    #header-v1 .navigation-row {
        padding: 30px 0;
        background-color: #000;
    }

    #header-v1.sticky .navigation-row {
        min-height: 100px;
    }

    .navigation-row .navbar {
        display: none;
    }

    .sticky .sm-logo,.header-inner .sm-logo,#header-v1 .sm-logo {
        display: inline-block;
    }

    #header-v1 .sm-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .navigation-row .sidemenu-btn {
        position: relative;
        z-index: 999;
    }

    .header-inner .sidemenu-btn {
        top: 0;
        left: 0;
    }

    .slider-content p {
        font-size: 20px;
    }

    #rider-boxed {
        padding: 0;
    }

    #header-v3 {
        position: relative;
    }

    #header-v3 .navigation-row .sidemenu-btn {
        margin: 0;
        top: 15px;
        left: 40px;
        position: absolute;
    }

    #header-v3 .nav-holder {
        float: left;
        width: 100%;
        padding: 20px 15px 15px;
    }

    #header-v2 {
        position: relative;
    }

    #header-v2 .navigation-row {
        padding: 40px 0;
    }

    #header-v2 .sidemenu-btn {
        display: inline-block;
    }

    #header-v2 .navigation-row .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }

    .about-text {
        margin-top: 15px;
    }

    .testimonial-section_v2 .testimonial-inner {
        padding: 0 20px;
    }

    #map_v1 {
        min-height: 300px;
    }

    .services-section_v3 .services-item {
        margin: 0 0 30px;
    }

    .featured-silder #bx-pager2 {
        left: 0;
    }

    .featured-silder #bx-pager2>a {
        width: 80px;
        height: 80px;
    }

    .about-text {
        margin: 0 0 30px;
    }

    .abuout-thumb {
        float: left;
        width: 100%;
    }

    .feature-item {
        border-bottom: 1px solid #ccc;
    }

    .feature-item::before {
        display: none;
    }

    .pro-item .text h3 {
        font-size: 20px;
    }

    .product-slider2 {
        float: left;
        width: 100%;
        margin: 0 0 30px;
    }

    .cart-inner {
        padding: 0 30px;
    }

    .cart-table-row table tr th,.cart-table-row table tr td {
        padding: 15px 5px;
    }

    .team-section .pagination-row {
        margin-bottom: 30px;
    }

    .team-thumb {
        text-align: center;
    }

    .event-list-item .event-map,.event-detail-section .event-list-item .event-map {
        height: 395px;
    }

    .event-list-item .text {
        padding-left: 30px;
    }

    .form-box {
        margin: 0 0 30px;
    }

    .blog-inner-outer {
        padding: 30px 20px;
    }

    .blog-grid-outer {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
    }

    .error-inner .title {
        font-size: 60px;
    }

    .error-section {
        padding: 100px 0;
    }

    .error-inner img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .contact-inner {
        width: 100%;
    }

    .get-box {
        margin: 0 0 30px;
    }

    .gallery-section .portfolioGallery {
        width: 98%;
    }

    .circle-img::before {
        background-size: 100%;
        width: 310px;
        height: 320px;
        top: 30px;
    }

    .popup-holder {
        width: 90%;
    }

    .popup-holder .heading-style1_v1 h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .popup-holder .inner {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .nav-holder .navbar-default .navbar-nav>li>a {
        font-size:16px;
        padding: 0 20px;
    }

    #header-v1.sticky .nav-right,.header-inner .nav-right {
        right: 20px;
    }

    .logo-row {
        display: none;
    }

    .mega-col-1 .mega-listed {
        display: none;
    }

    .mega-col-1,.mega-blog,.mega-event,.mega-col-2 {
        width: 250px;
        min-width: 250px;
    }

    .mega-col-2 {
        background-image: none;
    }

    .ft-bottom-section .container-fluid .row .col-sm-10 {
        width: 100%;
        padding-left: 15px;
    }

    .footer .widget-search form {
        width: 100%;
    }

    .footer {
        margin-top: 40px;
    }

    .instagram-text {
        padding: 20px 15px;
    }

    .instagram-text .fa {
        margin-bottom: 30px;
    }

    .instagram-text {
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    .widget-search form .btn-submit {
        padding: 15px 25px;
    }

    .services-thumb {
        width: 100%;
    }

    .services-inner {
        float: left;
        width: 100%;
    }

    .blog-item .thumb {
        width: 100%;
    }

    .blog-item .text {
        float: left;
        width: 100%;
        padding: 10px;
    }

    .feature-item::before {
        display: none;
    }

    .event-item>img,.team-item>img {
        width: 100%;
        height: auto;
    }

    .social-links li {
        margin-right: 15px;
    }

    #rider-boxed {
        padding: 0;
    }

    .facts-listd .counter {
        font-size: 26px;
    }

    .facts-listd h3 {
        font-size: 20px;
    }

    #header-v4 .navigation-row .sidemenu-btn,#header-v4 .nav-right>ul>li {
        margin-left: 15px;
    }

    #home-slider3 .owl-controls {
        left: inherit;
        right: 10px;
    }

    #home-slider3 .slider-content {
        width: 85%;
    }

    .pro-item .text h3 {
        font-size: 18px;
    }

    .error-inner img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #header-v1.sticky .nav-holder,.header-inner .nav-holder {
        width:90%;
        padding-left: 50px;
    }

    #header-v1.sticky .sidemenu-btn {
        left: 20px;
    }

    .instagram-listed li:hover {
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px);
        transform: translateY(-70px);
    }

    #home-slider3 .slider-content .title {
        font-size: 86px;
    }

    .slider-content p {
        font-size: 30px;
    }

    .navigation-row.overlay-open {
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
    }

    .footer .widget-search form {
        width: 695px;
    }
}

@media (min-width: 1400px) {
    .mega-col-1 {
        min-width:980px;
        padding-right: 55px;
    }

    .mega-col-2 {
        min-width: 625px;
    }

    .mega-col-1>ul,.mega-col-1 .mega-listed {
        width: 25%;
    }

    #header-v1.sticky .nav-holder,.header-inner .nav-holder {
        width: 100%;
        padding-left: 0px;
    }

    #header-v1.sticky .sidemenu-btn {
        left: 45px;
    }

    .services-thumb {
        width: auto;
    }

    .services-inner {
        padding: 95px 130px 0;
    }

    .services-listed {
        width: 600px;
    }

    .services-item {
        margin: 0 0 30px;
    }

    #home-slider3 .owl-controls {
        left: 17.7%;
        bottom: 192px;
    }

    .featured-silder #bx-pager2 {
        width: 175px;
    }

    .featured-silder #bx-pager2>a {
        width: 175px;
        height: 175px;
    }

    .featured-silder #bx-pager2 {
        left: 140px;
    }

    .calendar-box {
        float: right;
        width: 300px;
        padding-right: 35px;
    }

    .nav-holder .navbar-default .navbar-nav>li>a {
        padding: 0 30px;
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    .wrapper #header-v1 .navigation-row {
        padding-top:50px;
    }

    .wrapper #header-v1.sticky .navigation-row {
        padding-top: 20px;
    }

    .wrapper #header-v1 .logo-row {
        padding-top: 80px;
    }

    #header-v1 .logo-row .logo {
        width: auto;
    }

    #header-v1 .logo-row .logo img {
        width: auto;
    }

    .slider-content .title {
        font-size: 100px;
        line-height: 80px;
    }

    .header-inner .sidemenu-btn {
        left: 45px;
    }

    #rider-boxed {
        padding: 0 120px;
    }

    #header-v4 .nav-holder .navbar-default .navbar-nav>li>a {
        padding: 0 30px;
    }

    #home-slider4 .owl-controls {
        right: -120px;
    }

    #header-v2 .nav-holder {
        width: auto;
        float: none;
        padding: 0;
    }
}

@media (min-width: 1700px) {
    #header-v1 .navigation-row {
        padding-top:70px;
    }

    #header-v1 .logo-row {
        padding-top: 100px;
    }
}
